#camera-controls {
  .fa-desktop{
    position: relative;
    left: -2px;
  }
  .fa-terminal{
    position: absolute;
    top: 6px;
    left: 12px;
  }
  .fa-map{
    position: absolute;
    top: 5px;
    left: 12px;
  }
  .fa-arrows-alt{
    position: absolute;
    top: 6px;
    left: 12px;
  }
}
