#camera-controls {
  .fa-terminal{
    position: absolute;
    top: 5px;
    left: 13px;
  }
  .fa-map{
    position: absolute;
    top: 5px;
    left: 13px;
  }
  .fa-arrows-alt{
    position: absolute;
    top: 6px;
    left: 14px;
  }
}
