#debug-component{
  position: absolute;
}
#load-map{
  left: 250px;
  position: relative;
}
#load-algo{
  display: inline-block;
}
#tracer-canvas{
  position: absolute;
  transform: translateZ(0);
  z-index: 1;
  top: 42px;
  left: -8px;
}
#map-canvas{
  position: absolute;
  transform: translateZ(0);
  top: 50px;
  left: 0;
}
#events-list-component{
  position: absolute;
  right: 0;
  padding: 10px;
  height: 100%;
}
#events-list{
  max-width: 300px;
  max-height: 400px;
  overflow: auto;
}


/* Float Box css */
#node-details{
  list-style:none;
  margin:0px;
  margin-top:4px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:3px;
  font-size:17px;
  color: #333333;

}
#node-details > hr { width: 85%;
  background-color:#E4E4E4;
  border-color:#E4E4E4;
  color:#E4E4E4;
}
#context-menu{
  display:none;
  position:fixed;
  border:1px solid #B2B2B2;
  width:150px;
  background:#F9F9F9;
  box-shadow: 3px 3px 2px #E9E9E9;
  border-radius:4px;
}

#node-details > li{
  padding: 3px;
  padding-left:10px;
}


#node-details :hover{
  color: white;
  background:#284570;
  border-radius:2px;
}
