body{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
}
#pathfinder{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
#header{
  flex: 0;
}
#body{
  flex: 11;
  display: flex;
  flex-flow: column nowrap;
}
#footer{
  flex: 1;
}
#upper-body{
  flex: 2;
}
#bottom-body{
  flex: 10;
  display: flex;
  flex-flow: row nowrap;
}
#main-panel{
  flex: 9;
}
#side-panel{
  flex: 3;
}
#upper-body,#lower-body{
  padding: 5px;
}
#map{
  display: inline-block;
  margin: 0 5px;
}
#algorithm{
  display: inline-block;
  margin: 0 5px;
}
#map-input{
  display: none;
}
#debug-input{
  display: none;
}
#map-label{
  display: block;
  border: 1px solid #ddd;
  background: #ccc;
  padding: 5px 10px;
  cursor: pointer;
}
#map-label:hover{
  background: #a3a3a3;
}
#map-label:active{
  background: #b7b7b7;
}
#debug-label{
  display: block;
  border: 1px solid #ddd;
  background: #ccc;
  padding: 5px 10px;
  cursor: pointer;
}
#debug-label:hover{
  background: #a3a3a3;
}
#debug-label:active{
  background: #b7b7b7;
}

#playback-controls,#breakpoints,#time-travel,#camera-controls{
  display: inline-block;
  vertical-align: bottom;
  margin: 0 10px;
}
#play,#pause,#stop,#step-backward,#step-forward,#bp-btn,#fit-map,#fit-debugger,#fit-scale,#travel-jump,#travel-forward,#travel-backward{
  height: 30px;
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
}
#travel-jump-input,#travel-backward-input,#travel-forward-input{
  height: 24px;
  vertical-align: middle;
  width: 50px;
}
#travel-jump,#travel-forward,#travel-backward{
  vertical-align: bottom;
}
#fit-map,#fit-debugger,#fit-scale{
  position: relative;
}
#camera-controls i.fa-terminal{
  position: absolute;
  top: 5px;
  left: 13px;
}
#camera-controls i.fa-map{
  position: absolute;
  top: 5px;
  left: 13px;
}
#camera-controls i.fa-arrows-alt{
  position: absolute;
  top: 6px;
  left: 14px;
}

#screen{
  width: 100%;
  height: 100%;
}

#side-panel{
  position: relative;
}
#events-list{
  position: absolute;
  height: 100%;
  overflow: auto;
}

.event:hover{
    color: white;
    background:#284570;
    border-radius:2px;
}
.event {
  list-style: none;
  display: block;
  cursor: pointer;
  padding: 2px 0;
  border-bottom: 1px solid #d2d2d2;
}
.event:before {
  content: counter(item)".) ";
  counter-increment: item;
  color: black;
}
#events {
  counter-reset: item;
  padding: 5px;
}
.event:hover:before {
  color: white;
}

/* Float Box css */
#node-details{
  list-style:none;
  margin:0px;
  margin-top:4px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:3px;
  font-size:17px;
  color: #333333;

}
#node-details > hr { width: 85%;
  background-color:#E4E4E4;
  border-color:#E4E4E4;
  color:#E4E4E4;
}
#context-menu{
  display:none;
  position:fixed;
  z-index: 2;
  border:1px solid #B2B2B2;
  width:150px;
  background:#F9F9F9;
  box-shadow: 3px 3px 2px #E9E9E9;
  border-radius:4px;
}

#node-details > li{
  padding: 3px;
  padding-left:10px;
  word-break: break-all;
  cursor: default;
}


#node-details :hover{
  color: white;
  background:#284570;
  border-radius:2px;
}
