body{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
}
#pathfinder{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
#header{
  flex: 1;
}
#body{
  flex: 18;
  display: flex;
  flex-flow: column nowrap;
}
#footer{
  flex: 1;
}
#upper-body{
  flex: 1;
}
#bottom-body{
  flex: 11;
  display: flex;
  flex-flow: row nowrap;
}
#main-panel{
  flex: 9;
}
#side-panel{
  flex: 3;
  border-left: 1px solid;
}
#upper-body,#lower-body{
  padding: 5px;
}
#map{
  display: inline-block;
  margin: 0 5px;
}
#algorithm{
  display: inline-block;
  margin: 0 5px;
}
#map-input{
  display: none;
}
#debug-input{
  display: none;
}
#map-label{
  display: block;
  border: 1px solid #ddd;
  background: #ccc;
  padding: 5px 10px;
  cursor: pointer;
}
#map-label:hover{
  background: #a3a3a3;
}
#map-label:active{
  background: #b7b7b7;
}
#debug-label{
  display: block;
  border: 1px solid #ddd;
  background: #ccc;
  padding: 5px 10px;
  cursor: pointer;
}
#debug-label:hover{
  background: #a3a3a3;
}
#debug-label:active{
  background: #b7b7b7;
}

#playback-controls,#breakpoints,#time-travel,#camera-controls{
  display: inline-block;
  vertical-align: bottom;
  margin: 0 10px;
}
#play,#pause,#stop,#step-backward,#step-forward,#bp-btn,#fit-map,#fit-debugger,#fit-scale,#travel-jump,#travel-forward,#travel-backward{
  height: 30px;
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
}
#travel-jump-input,#travel-backward-input,#travel-forward-input{
  height: 24px;
  vertical-align: middle;
  width: 50px;
}
#travel-jump,#travel-forward,#travel-backward{
  vertical-align: bottom;
}
#fit-map,#fit-debugger,#fit-scale{
  position: relative;
}
#camera-controls i.fa-terminal{
  position: absolute;
  top: 5px;
  left: 13px;
}
#camera-controls i.fa-map{
  position: absolute;
  top: 5px;
  left: 13px;
}
#camera-controls i.fa-arrows-alt{
  position: absolute;
  top: 6px;
  left: 14px;
}

#screen{
  width: 100%;
  height: 100%;
}

#side-panel{
  position: relative;
}
#events-list{
  position: absolute;
  height: 100%;
  overflow: auto;
}

.event:hover{
    color: white;
    background:#284570;
    border-radius:2px;
}
.event {
  list-style: none;
  display: block;
  cursor: pointer;
  padding: 2px 0;
  border-bottom: 1px solid #d2d2d2;
}
.event:before {
  content: counter(item)".) ";
  counter-increment: item;
  color: black;
}
#events {
  counter-reset: item;
  padding: 5px;
}
.event:hover:before {
  color: white;
}

/* Float Box css */
#node-details{
  list-style:none;
  margin:0px;
  margin-top:4px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:3px;
  font-size:17px;
  color: #333333;

}
#node-details > hr { width: 85%;
  background-color:#E4E4E4;
  border-color:#E4E4E4;
  color:#E4E4E4;
}
#context-menu{
  display:none;
  position:fixed;
  z-index: 2;
  border:1px solid #B2B2B2;
  width:150px;
  background:#F9F9F9;
  box-shadow: 3px 3px 2px #E9E9E9;
  border-radius:4px;
}

#node-details > li{
  padding: 3px;
  padding-left:10px;
  word-break: break-all;
  cursor: default;
}


#node-details :hover{
  color: white;
  background:#284570;
  border-radius:2px;
}

#header{
  border-bottom: 1px solid;
  background: aliceblue;
  padding: 2px 10px;
}
#header h3{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer{
  border-top: 1px solid;
  background: aliceblue;
  padding: 2px 10px;
}

#footer p{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer .footer-credits{
  justify-content: space-between;
}

/**************************\
  Basic Modal Styles
\**************************/

.modal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.modal__btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.modal__btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.modal__btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.modal__btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}
.row{
  display: flex;
  justify-content: space-between;
}
.col-sm{
  padding-right: 20px;
}
